.container.new-listing
  .row
    .span4.offset1
      .preview
        %span.header
          Your free listing will look like this...
        .listing-container
          %span.company-name
            Your company name
          %p
            %span.budget.text
              Typical project budge range
            %br
            %span.location.text
              Company location
          = image_tag(session[:preview_photo_url] || 'small-listing.png', id: 'img_prev')
          %p
            %span.description.text
              Your image description
    .span6
      = render 'form'
