%li.listing-container.thumbnail.span4
  = link_to 'Your company name', listings_path(Listing.first), class: 'company-name'
  %p
    %span.budget.text
      Typical project budge range
    %br
    %span.location.text
      Company location
  = link_to '#' do
    = image_tag('small-listing.png')
  %p
    %span.description.text
      Your image description