= render 'filters'
        
%ul.thumbnails.listings
  - @listings.each_with_index do |listing, index|
    - if listing.premium?
      %li.listing-container.thumbnail.premium
        = render partial: 'premium_listing', locals: { listing: listing }
    - else
      %li.listing-container.thumbnail
        = render partial: 'listing', locals: { listing: listing }

= will_paginate @listings