!!!
%html
  %head
    %title="OC HomeMasters, You've Downgraded Your Listing"
  %body
    %p
      This email is to notify you that your Premium listing on OC HomeMasters will be downgraded to a free listing at the end of the pay period.
    %p
      Your listing will still show up as a Premium listing through the pay period.
    %p
      You can manage your listing by logging in to your account here:
      = new_user_session_url
    %p
      Sincerely,
    %p
      The OC HomeMasters Team