!!!
%html
  %head
    %title="Welcome to OC HomeMasters Premium Listings"
  %body
    %p 
      = "#{@user.listing.company_name},"
    %p
      Thank you for signing up for a OC HomeMasters Premium listing!
    %p
      With a Premium listing, your listing will:
    %ul
      %li
        Display 2x larger than a free listing
      %li
        Show up in search results before any free listings
      %li
        Receive more leads because your listing is easier to find
    %p
      You can manage your listing by logging in to your account here:
      = link_to new_user_session_url
    %p
      Sincerely,
    %p
      The OC HomeMasters Team
      = link_to root_url