!!!
%html
  %head
    %title="Welcome to OC Homepros"
    = csrf_meta_tags
  %body
  %h1
    = "Welcome to OC Homepros #{@user.first_name}"
  %p
    You can log in to your account with your email address here:
    = new_user_session_url
  %p
    Sincerely,
  %p
    The OC Homepros Team
    
    
