!!!
%html
  %head
    %title="Welcome to OC Homepros"
  %body
    %p
      = "Welcome to OC Homepros!"
    %p
      You can manage your listing by logging in to your account here:
      = new_user_session_url
    %p
      Sincerely,
    %p
      The OC Homepros Team