- if current_user.customer_id.blank?
  = form_tag upgrades_path do 
    %script.stripe-button{src: 'https://checkout.stripe.com/v2/checkout.js', 'data-key' => ENV["STRIPE_PUBLIC_KEY"], 'data-description' => 'Upgrade to Premium', 'data-amount' => '9900'}
- else
  = button_to "Upgrade to Premium", upgrades_path, :method => :post, class: 'btn btn-success'