- content_for :title, "Successfully Upgraded - #{current_user.listing.company_name}"

.preview
  %h4
    You have successfully been upgraded to a Premium listing!
  %h4
    Here's what your Premium listing will look like in search results:
  .listing-container.premium
    = render partial: 'listings/premium_listing', locals: { listing: current_user.listing }
