%footer
  %p
    Images/logos belonging to businesses listed on OC HomeMasters are owned by their respective trademark owners.
  %p
    Get in touch with us at 
    = mail_to 'support@ochomemasters.com'