---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2014&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_xIZHuNvWU7FprwSeYziNKSEh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_1kExVFbhWWux6u\",\n  \"livemode\": false,\n  \"created\":
        1367354156,\n  \"used\": false,\n  \"object\": \"token\",\n  \"card\": {\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 4,\n    \"exp_year\": 2014,\n    \"fingerprint\": \"9EUOUbb0b90UaJg8\",\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Tue, 30 Apr 2013 20:35:57 GMT
recorded_with: VCR 2.4.0
