/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
*/

@import "mixins";

.signin, .passwords, .edit-account {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  .border-radius(5px);
  .box-shadow(0 3px 7px rgba(0,0,0,0.3));
  background: #fff;
  
  p {
    font-weight: bold;
    font-size: 18px;
    
    &.help-block {
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
    }
  }
  
  form {
    width: auto;
    float: none;
  }
}

.edit-account {
  width: 600px;
  margin-bottom: 50px;
  
  table caption {
    color: #555;
    background: #fcf8e3;
    margin-bottom: 10px;
  }
}

.navbar form.button_to {
  display: inline-block;
}

.navbar form.search {
  margin-left: 30px;
  
  .btn {
    margin-left: -41px;
    margin-top: 23px;
    padding: 4px 11px;
  }
}

.navbar .nav.actions {
  li a {
    text-shadow: none;
    color: #fff;
    
    &:hover {
      color: #ccc;
    }
  }
  
  li.premium-user a {
    color: #E6AC00;
    
    &:hover {
      color: #E6AC00;
      cursor: default;
    }
  }
  
  li.sign-up, li.upgrade-to-premium {
    .btn {
      padding: 8px 18px;
      
      &.btn-success:hover {
        color: #ffffff;
        background-color: #51a351;
      }
    }
  }
}

.hp-container {
  width: 980px;
  margin: 0 auto;
  
  &.premium {
    width: 1024px;
  }
}

footer {
  margin-top: 60px;
  color: #999;
  font-size: 13px;
}

#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: black;
  opacity: 0.8;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.errors {
  display: none;
  color: #f00;
  font-weight: bold;
  text-align: center;
  background: #F7EED0;
  padding-bottom: 5px;
}

#progress-modal {
  background-color: #000;
  .opacity(60);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
}

.results-msg {
  text-align: center;
  font-family: 'Noto Sans', 'Lucida Grande', sans-serif;
  font-size: 24px;
  margin: 30px 0;
  
  .query {
    font-style: italic;
  }
}
