@import "mixins";

.listing-container {
  .border-radius(5px);
  .box-shadow(0 0px 7px rgba(0,0,0,0.3));
  background: #fff;
  padding: 10px;
  width: 195px;
  margin: 0 auto;
  
  p {
    line-height: 1.2em;
  }
  
  .company-name {
    font-weight: bold;
    border-bottom: 2px solid #dfdfdf;
  }

  .text {
    color: #999;
    font-size: .8em;
  }
  
  img {
    display: block;
    margin-bottom: 10px;
  }
}

.thumbnails {
  margin-left: 30px;
  
  a.company-name {
    text-decoration: none;
    color: #222;
  }
}

.listing-container-xlarge {
  .border-radius(5px);
  .box-shadow(0 0px 7px rgba(0,0,0,0.3));
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  
  .description {
    margin: 15px 0;
  }
  
  .company-name {
    font-weight: bold;
    font-size: 26px;
  }
  
  p {
    color: #333;
  }
  
  .portfolio-image {
    padding: 10px;
    margin: 20px 0;
    background: #f1f1f1;
    
    p {
      margin-top: 10px;
    }
  }
  
  .contact-container {
    .border-radius(5px);
    background: #00334D;
    padding: 20px;
    text-align: center;
    
    p {
      color: #fff;
      font-size: 16px;
    }
    
    ul {
      li {
        a {
          font-size: 24px;
          font-weight: bold;
          color: #0099ff;
        }
      }
    }
    
    .plug {
      color: #ccc;
      font-size: 12px;
    }
  }
}

.new-listing {
  .preview {
    position: fixed;
    width: 320px;
    padding: 10px;
    #gradient > .vertical(#ebebeb, #ffffff);
    .border-radius(5px);
    
    .header {
      font-weight: bold;
      text-align: center;
      display: block;
      margin-bottom: 10px;
      font-size: 1em;
    }
  }
  
  form {
    fieldset {
      background: #F7EED0;
      .border-radius(5px);
      padding: 30px 30px 10px 30px;
      margin-bottom: 20px;
      
      p {
        font-size: .85em;
        
        strong {
          color: #000;
        }
      }
      
      label {
        font-weight: bold;
        color: #333;
        font-size: .85em;
        
        &.radio {
          font-weight: normal
        }
      }
      
      .help-block {
        font-size: .8em;
        margin: -5px 0 3px 0;
      }
      
      textarea {
        width: 500px;
        height: 50px;
      }
      
      input[type="file"] {
        font-size: 11px;
        line-height: 21px;
      }
    }
    
    img.sample-listing-size {
      float: right;
      vertical-align: top;
      margin: 0 -15px 0 10px;
    }
    
    .title {
      font-weight: bold;
      font-size: 1.2em;
      color: #000;
    }
  }
}
